.alert {
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    overflow: hidden;

    .alert-box {
        min-width: 300px;
        max-width: calc(100% - 400px);
        height: fit-content;
        min-height: 60px;
        flex-shrink: 0;
        pointer-events: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 2px #0003;
        background: #fffe;
        border: solid 1px #eee;
        display: flex;
        gap: 10px;
        padding: 0 10px;


        .icon {
            height: 60px;
            opacity: 0.8;

            img {
                margin-top: 18px;
            }
        }

        .text {
            flex-grow: 1;
            word-break: break-all;

            .title {
                user-select: text;
                margin-top: 13px;
            }

            .desc {
                user-select: text;
                margin-bottom: 10px;
                color: #0008;
                font-size: 0.8em;
            }
        }

        .close-btn {
            height: 60px;
            width: 24px;
            opacity: 0.8;
            position: relative;
            flex-shrink: 0;

            &:hover {
                scale: 1.05;
            }

            &:active {
                scale: 1.03;
            }

            &>svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
            }

            &>svg>circle {
                fill: none;
                stroke: #0004;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-dasharray: 69.08;
                stroke-dashoffset: 69.08;
                animation: circle-anim 1s linear forwards;
                animation-delay: -0s;
            }

            img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .alert-warning {
        background: #ffae;
        border: solid 1px #dd0;
    }

    .alert-error {
        background: #faae;
        border: solid 1px #f77;
    }

    .alert-success {
        background: #afae;
        border: solid 1px #7f7;
    }
}

@keyframes circle-anim {
    0% {
        stroke-dashoffset: 69.08;
    }

    100% {
        stroke-dashoffset: 0;
    }
}